li {
	text-decoration-line: none;
}

li:hover {
	background-color: tomato;
	transition: 0.7s;
}

#itemIcons{
	float: right;
}

.content.lineThrough {
	text-decoration-line: line-through;
}

.completed {
	text-decoration-line: line-through;
}

.form-control {
	margin: 10px 0;
}

.content {
	display: inline-block;
	max-width: 80%;
	padding-left: 15px;
	padding-right: 30px;
	word-wrap: break-word;
}

input[type=checkbox].listCheckbox {
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
}
